<template>
    <v-card class="white lighten-4 elevation-0">
    <v-card-text>
      <v-container fluid>
        <v-layout row>
          <div align="left">
              <h4>DEPOSIT</h4>
          </div>
        </v-layout>
        <div v-if="!createOrder">
        <v-layout row>
          <v-flex xs4>
            <v-subheader>Payment Type </v-subheader>
          </v-flex>
          <v-flex xs8>
            <v-select
              v-bind:items="items"
              v-model="select"
              label="Select"
              single-line
              item-text="text"
              item-value="value"
              return-object
            ></v-select>
          </v-flex>
        </v-layout>
        <v-layout row>
          <v-flex xs4>
            <v-subheader>Amount</v-subheader>
          </v-flex>
          <v-flex xs8>
            <v-text-field
              name="input-2-3"
              type="number"
              class="input-group--focused"
              single-line
              v-model="amount"
            ></v-text-field>
          </v-flex>
        </v-layout>
        <div v-if="select.text=='Bank'">
          <v-layout row>
          <v-flex xs4>
            <v-subheader>Bank</v-subheader>
          </v-flex>
          <v-flex xs8>
            <v-select
              v-bind:items="banks"
              label="Choose Bank"
              v-model="selectBank"
              single-line
              item-text="text"
              item-value="value"
              return-object

            ></v-select>
          </v-flex>
        </v-layout>
        <v-layout row>
          <v-flex xs4>
            <v-subheader>Bank Account</v-subheader>
          </v-flex>
          <v-flex xs8>
            <div class="headline">{{ selectBank.value }}</div>
          </v-flex>
        </v-layout>
        </div>
         </div>
        <v-layout row justify-center style="position: relative;" v-if="select.text=='True Money'">
          <v-dialog v-model="dialog" lazy absolute>
            <v-btn primary dark slot="activator">CREATE DEPOSIT ORDER</v-btn>
            <v-card>
              <v-card-title>
                <div class="headline">Deposit by {{ select.text }}</div>
              </v-card-title>
              <v-card-text> Deposit {{ amount }} bath form {{ select.text }} </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn class="green--text darken-1" flat="flat" @click.native="dialog = false">Cancel</v-btn>
                <v-btn class="green--text darken-1" flat="flat" @click.native="dialog = false">Confirm</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-layout>
        <v-layout row>
          <v-flex xs12>
            <v-btn v-if="select.text=='Bank' && !createOrder" primary dark slot="activator" v-on:click="clickSi">CREATE DEPOSIT ORDER</v-btn>
          </v-flex>
        </v-layout>
        <div v-if="select.text=='Bank' && createOrder">
        <v-layout row>
          <v-flex xs4>
            <v-subheader>Payment type</v-subheader>
          </v-flex>
          <v-flex xs8>
            <v-subheader>Bank</v-subheader>
          </v-flex>
         </v-layout>
          <v-layout row>
          <v-flex xs4>
            <v-subheader>Amount</v-subheader>
          </v-flex>
          <v-flex xs8>
            <v-subheader>{{ amount }}</v-subheader>
          </v-flex>
         </v-layout>
          <v-layout row>
          <v-flex xs4>
            <v-subheader>Bank</v-subheader>
          </v-flex>
          <v-flex xs8>
            <v-subheader>{{ selectBank.text }}</v-subheader>
          </v-flex>
         </v-layout>
          <v-layout row>
          <v-flex xs4>
            <v-subheader>Bank Account</v-subheader>
          </v-flex>
          <v-flex xs8>
            <v-subheader>{{ selectBank.value }}</v-subheader>
          </v-flex>
         </v-layout>
          <v-layout row>
          <v-flex xs4>
            <v-subheader>Bank Deposit Receipt</v-subheader>
          </v-flex>
          <v-flex xs8>
            <div id="app">
              <div v-if="!image">
                <input type="file" @change="onFileChange">
              </div>
              <div v-else>
                <img :src="image" />
                <button @click="removeImage">Remove image</button>
              </div>
            </div>
          </v-flex>
         </v-layout>
          <v-layout row>
          <v-flex xs4>
            <v-subheader>Transfer form bank</v-subheader>
          </v-flex>
          <v-flex xs8>
            <v-select
              v-bind:items="banks"
              label="Choose Bank"
              v-model="myBank"
              single-line
              item-text="text"
              item-value="value"
            ></v-select>
          </v-flex>
         </v-layout>
          <v-layout row>
          <v-flex xs4>
            <v-subheader>Transfer form account</v-subheader>
          </v-flex>
          <v-flex xs8>
            <v-text-field
              name="input-2-3"
              type="number"
              class="input-group--focused"
              single-line
              v-model="myAccount"
            ></v-text-field>
          </v-flex>
         </v-layout>
         <v-layout row justify-center style="position: relative;" v-if="select.text=='Bank'">
          <v-dialog v-model="dialog" lazy absolute>
            <v-btn primary dark slot="activator">PAYMENT CONFIRM</v-btn>
            <v-card>
              <v-card-title>
                <div class="headline">Deposit by {{ select.text }} </div>
              </v-card-title>
              <v-card-text> Deposit {{ amount }} bath form {{ select.text }} {{ myBank }} Account  {{ Account }}</v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn class="green--text darken-1" flat="flat" @click.native="dialog = false">Cancel</v-btn>
                <v-btn class="green--text darken-1" flat="flat" @click.native="dialog = false">Confirm</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-layout>
          </div>
      </v-container>
    </v-card-text>
  </v-card>
</template>

<script>
  export default {
    data () {
      return {
        banks: [
          { text: 'ธนาคารกรุงเทพ จำกัด(มหาชน)', value: '312-1-45629-2' },
          { text: 'ธนาคารกรุงไทย(มหาชน)', value: '332-1-4999-2' },
          { text: 'ธนาคารกรุงศรีอยุธยา(มหาชน)', value: '233-1-45629-2' },
          { text: 'ธนาคารกสิกรไทย(มหาชน)', value: '359-1-45345-2' },
          { text: 'ธนาคารไทยพาณิชย์(มหาชน)', value: '983-1-45629-2' }
        ],
        selectBank: '',
        select: { text: 'True Money', value: 'true' },
        items: [
          { text: 'True Money', value: 'true' },
          { text: 'Bank', value: 'bank' }
        ],
        dialog: false,
        test: true,
        amount: null,
        createOrder: false,
        image: '',
        myBank: '',
        myAccount: ''
      }
    },
    props: {
    },
    components: {
    },
    methods: {
      clickSi () {
        console.log(1)
        this.createOrder = true
      },
      onFileChange (e) {
        var files = e.target.files || e.dataTransfer.files
        if (!files.length) {
          return
        }
        this.createImage(files[0])
      },
      createImage (file) {
        this.image = new Image()
        var reader = new FileReader()
        var vm = this

        reader.onload = (e) => {
          vm.image = e.target.result
        }
        reader.readAsDataURL(file)
      },
      removeImage: function (e) {
        this.image = ''
      },
      paymentComplete: {

      }
    },
    mounted () {
    }
  }
</script>
