<template>
  <div class="profile">
    <br/>
    <h3>My Wallet</h3>
    <br/>

        <v-layout column>
      <v-flex xs12 offset-xs0 md10 offset-md1>
    <v-container fluid grid-list-sm>
      <v-layout row wrap>
        <v-flex xs12 >
          <my-funds></my-funds>
        </v-flex>
        <v-flex xs124>
          <table style="width: 100%">
      <tr>
        <td><div v-on:click="selectDeposit" align="right"><v-btn primary dark >DEPOSIT</v-btn></div></td>
        <td><div v-on:click="selectWithdraw" align="left"><v-btn primary dark >WITHDRAW</v-btn></div></td>
      </tr>
    </table>
        </v-flex>
        <v-flex xs12>

    <withdraw v-if="!this.select_action" ></withdraw>
    <deposit v-if="this.select_action" ></deposit>
        </v-flex>
        <v-flex xs12>

     <table style="width: 100%">
      <tr>
        <td><div v-on:click="selectDepositeHistory" align="right"><v-btn primary dark >DEPOSIT</v-btn></div></td>
        <td><div v-on:click="selectWithdrawHistory" align="left"><v-btn primary dark >WITHDRAW</v-btn></div></td>
      </tr>
    </table>
        </v-flex>
        <v-flex xs12>

     <table style="width: 100%">
      <tr>
        <deposit-history v-if="this.select_history_action"></deposit-history>
    <withdraw-history v-if="!this.select_history_action"></withdraw-history>
      </tr>
    </table>
        </v-flex>
      </v-layout>
    </v-container>
      </v-flex>
    </v-layout>
  </div>
</template>
<script>
  import MyFunds from './Myfunds.vue'
  import Withdraw from './Withdraw.vue'
  import Deposit from './Deposit.vue'
  import DepositHistory from './Deposit_history.vue'
  import WithdrawHistory from './Withdraw_history.vue'

  export default {
    data () {
      return {
        select_action: true,
        select_history_action: true
      }
    },
    components: {
      'withdraw': Withdraw,
      'deposit': Deposit,
      'myFunds': MyFunds,
      'deposit-history': DepositHistory,
      'withdraw-history': WithdrawHistory
    },
    methods: {
      selectDeposit () {
        this.select_action = true
      },
      selectWithdraw () {
        this.select_action = false
      },
      selectDepositeHistory () {
        this.select_history_action = true
      },
      selectWithdrawHistory () {
        this.select_history_action = false
      }
    },
    mounted () {
    }
  }
</script>

