<template>
  <div>
    <div align="left">
      <h2>ACCOUNT BALANCES {{data['data'].current_balance}} Bath</h2>
      <h3>{{data['data'].fullname}}</h3>
    </div>
    <v-data-table
      v-bind:headers="headers"
      v-bind:items="items"
      v-bind:search="search"
      v-bind:pagination.sync="pagination"
      hide-actions
      class="elevation-1"
    >
      <template slot="headerCell" scope="props">
        <span v-tooltip:bottom="{ 'html': props.header.text }">
          {{ props.header.text }}
        </span>
      </template>
      <template slot="items" scope="props">
        <td>{{ props.item.name }}</td>
        <td  class="text-xs-right">{{ props.item.currency }}</td>
        <td  class="text-xs-right">{{ props.item.symbol }}</td>
        <td  class="text-xs-right">{{ props.item.available_balance }}</td>
        <td  class="text-xs-right">{{ props.item.pending }}</td>
        <td  class="text-xs-right">{{ props.item.reserved }}</td>
        <td  class="text-xs-right">{{ props.item.total }}</td>
        <td  class="text-xs-right">{{ props.item.change }}</td>
      </template>
    </v-data-table>
    <div class="text-xs-center pt-2">
      <v-pagination v-model="pagination.page" :length="pages"></v-pagination>
    </div>
  </div>
</template>

<script>
  import axios from 'axios'

  export default {
    name: 'my-funds',
    mounted () {
      axios.get('https://api-internal.tmn-dev.com/hackathon/v1/wallet/user/profile?device_os=ios&app_version=2.0', {headers: { 'access-token': localStorage.getItem('access_token') }})
        .then(response => {
          console.log(response.data['data'].data)
          console.log(response.data['data'].data.current_balance)
          let money = (response.data['data'].data.current_balance).split('.')[0]
          response.data['data'].data.current_balance = money
          this.data = response.data['data']
          console.log(this.data)
        })
    },
    data () {
      return {
        search: '',
        pagination: {},
        selected: [],
        headers: [
          { text: 'CURRENCY NAME', value: 'currency' },
          { text: 'SYMBOL', value: 'symbol' },
          { text: 'AVAILABLE BALANCE', value: 'available_balance' },
          { text: 'PENDING DEPOSIT', value: 'pending' },
          { text: 'RESERVED', value: 'reserved' },
          { text: 'TOTAL', value: 'total' },
          { text: '(%) CHANGE', value: 'change' }
        ],
        items: [
          {
            value: false,
            calories: 159,
            fat: 6.0,
            carbs: 24,
            protein: 4.0,
            sodium: 87,
            calcium: '14%',
            iron: '1%'
          }
        ],
        data: {}
      }
    },
    computed: {
      pages () {
        return this.pagination.rowsPerPage ? Math.ceil(this.items.length / this.pagination.rowsPerPage) : 0
      }
    }
  }
</script>
