<template>
  <div class="wallet">
    <h4>{{ msg }}</h4>
  </div>
</template>

<script>
  export default {
    name: 'Wallet',
    data () {
      return {
        msg: 'Wallet'
      }
    }
  }
</script>

