<template>
    <v-card class="white lighten-4 elevation-0">
    <v-card-text>
      <v-container fluid>
        <v-layout row>
          <div align="left">
              <h4>WITHDRAW</h4>
          </div>
        </v-layout>
        <v-layout row>
          <v-flex xs4>
            <v-subheader>Payment Type </v-subheader>
          </v-flex>
          <v-flex xs8>
            <v-select
              v-bind:items="items"
              v-model="select"
              label="Select"
              single-line
              item-text="text"
              item-value="value"
              return-object
            ></v-select>
          </v-flex>
        </v-layout>
        <v-layout row>
          <v-flex xs4>
            <v-subheader>Amount</v-subheader>
          </v-flex>
          <v-flex xs8>
            <v-text-field
              name="input-2-3"
              type="number"
              class="input-group--focused"
              single-line
            ></v-text-field>
          </v-flex>
        </v-layout>
        <div v-if="select.text=='Bank'">
          <v-layout row>
          <v-flex xs4>
            <v-subheader>Bank</v-subheader>
          </v-flex>
          <v-flex xs8>
            <v-select
              v-bind:items="banks"
              label="Choose Bank"
              v-model="selectBank"
              single-line
              item-text="text"
              item-value="value"
              return-object
            ></v-select>
          </v-flex>
        </v-layout>
        <v-layout row>
          <v-flex xs4>
            <v-subheader>Bank Account</v-subheader>
          </v-flex>
          <v-flex xs8>
            <v-text-field
              name="input-2-3"
              type="number"
              class="input-group--focused"
              single-line
            ></v-text-field>
          </v-flex>
        </v-layout>
         </div>
        <v-layout row>
          <v-flex xs12>
            <v-btn primary dark >WITHDRAW</v-btn>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card-text>
  </v-card>
</template>

<script>
  export default {
    data () {
      return {
        banks: [
          { text: 'ธนาคารกรุงเทพ จำกัด(มหาชน)', value: 'BBL' },
          { text: 'ธนาคารกรุงไทย(มหาชน)', value: 'KTB' },
          { text: 'ธนาคารกรุงศรีอยุธยา(มหาชน)', value: 'BAY' },
          { text: 'ธนาคารกสิกรไทย(มหาชน)', value: 'KBANK' },
          { text: 'ธนาคารไทยพาณิชย์(มหาชน)', value: 'SCB' }
        ],
        selectBank: {text: 'ธนาคารกรุงเทพ จำกัด(มหาชน)', value: 'BBL'},
        select: { text: 'True Money', value: 'true' },
        items: [
          { text: 'True Money', value: 'true' },
          { text: 'Bank', value: 'bank' }
        ]
      }
    },
    props: {
    },
    components: {
    },
    mounted () {
    }
  }
</script>
