<template>
  <div class="home">
    <br>
    <v-layout column>
      <v-flex xs12 offset-xs0 md10 offset-md1>
    <v-container fluid grid-list-sm>
      <v-layout row wrap>
        <v-flex xs8 >
          <v-card-text>
            <h4 align="left"> Information </h4>
            <div class="btcwdgt-chart"></div>
            <graph></graph>
          </v-card-text>
        </v-flex>
        <v-flex x4>
          <trading></trading>
        </v-flex>
      </v-layout>
    </v-container>
        <v-flex xs12>
          <orderBook></orderBook>
        </v-flex>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
  import Chart from './Chart'
  import Graph from './graph'
  import Trading from './Trading.vue'
  import OrderBook from './OrderBook.vue'
  export default {
    name: 'Home',
    components: {
      'graph': Graph,
      'chart': Chart,
      'trading': Trading,
      'orderBook': OrderBook
    },
    data () {
      return {
        msg: 'Tradding'
      }
    }
  }
</script>

