<template xmlns:v-tooltip="http://www.w3.org/1999/xhtml">
  <div>
    <div class="order-book">
      <v-card-text>
        <h6 align="left">{{ title }}</h6>
        <v-data-table
          v-bind:headers="headers"
          v-bind:items="items"
          v-bind:search="search"
          v-bind:pagination.sync="pagination"
          hide-actions
          class="elevation-1"
        >
          <template slot="headerCell" scope="props">
            <span v-tooltip:bottom="{ 'html': props.header.text }">
              {{ props.header.text }}
            </span>
          </template>
          <template slot="items" scope="props">
            <td>{{ props.item.name }}</td>
            <td  class="text-xs-right">{{ props.item.usd }}</td>
            <td  class="text-xs-right">{{ props.item.rate }}</td>
            <td  class="text-xs-right">{{ props.item.btc }}</td>
          </template>
        </v-data-table>
      </v-card-text>
    </div>
    <div class="text-xs-center pt-2">
      <v-pagination v-model="pagination.page" :length="pages"></v-pagination>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'OrderTable',
    props: {
      title: ''
    },
    data () {
      return {
        search: '',
        pagination: {},
        selected: [],
        headers: [
          { text: 'Volume (USD)', value: 'usd' },
          { text: 'Rate', value: 'rate' },
          { text: 'Volume (BTC)', value: 'btc' }
        ],
        items: [
          {
            value: false,
            calories: 159,
            fat: 6.0,
            carbs: 24,
            protein: 4.0,
            sodium: 87,
            calcium: '14%',
            iron: '1%'
          }
        ]
      }
    },
    computed: {
      pages () {
        return this.pagination.rowsPerPage ? Math.ceil(this.items.length / this.pagination.rowsPerPage) : 0
      }
    }
  }
</script>
