<template xmlns:v-tooltip="http://www.w3.org/1999/xhtml">
  <div>
    <div class="order-book">
      <v-card-text>
        <h4 align="left">{{ title }}</h4>
        <v-container fluid grid-list-sm>
          <v-layout row wrap>
            <v-flex xs6>
              <v-card-text>
                <order-table title="Buy Order"></order-table>
              </v-card-text>
            </v-flex>
            <v-flex xs6>
              <v-card-text>
                <order-table title="Sell Order"></order-table>
              </v-card-text>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card-text>
    </div>
  </div>
</template>

<script>
  import OrderTable from './OrderTable.vue'
  export default {
    name: 'OrderBook',
    components: {
      'order-table': OrderTable
    },
    data () {
      return {
        title: 'Order Book'
      }
    }
  }
</script>
