<template>
  <div class="order-box">
    <v-card class="grey lighten-4 elevation-0">
      <v-card-text>
        <h4 align="left">{{ title }}</h4>
        <table>
          <tr>
            <td><div v-on:click="selectBuy" ><v-btn primary dark disabled >BUY</v-btn></div></td>
            <td><div v-on:click="selectSell" ><v-btn error dark disabled >SELL</v-btn></div></td>
          </tr>
        </table>
        <v-container fluid >
          <v-layout row>
            <v-flex xs4 style="margin-top: 20px;">
              Amount
            </v-flex>
            <v-flex xs8>
              <v-text-field
                required
              ></v-text-field>
            </v-flex>
          </v-layout>
        </v-container>
        <v-container fluid >
          <v-layout row>
            <v-flex xs4 style="margin-top: 20px;">
              Total
            </v-flex>
            <v-flex xs8>
              <v-text-field
                required
              ></v-text-field>
            </v-flex>
          </v-layout>
        </v-container>

        <v-btn success dark disabled>Confirm</v-btn>
      </v-card-text>
    </v-card>
  </div>
</template>

<style>
  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
</style>

<script>
  export default {
    name: 'Trading',
    data () {
      return {
        title: 'Trading',
        select_action: true
      }
    },
    methods: {
      selectBuy () {
        this.select_action = true
      },
      selectSell () {
        this.select_action = false
      }
    }
  }
</script>
