<template>
  <div class="auth">
    <h1>Login</h1>
    <login></login>
  </div>
</template>

<script>
  import Login from './Login.vue'
  export default {
    name: 'Auth',
    components: {
      'login': Login
    },
    data () {
      return {
        msg: 'Auth'
      }
    }
  }
</script>

