<template>
  <v-container fluid>
    <v-layout row wrap>
      <v-flex xs12 md6 offset-md3>
        <v-card>
          <v-toolbar class="indigo">
            <v-toolbar-title class="white--text" >Login</v-toolbar-title>
          </v-toolbar>
          <v-card-text>
            <v-text-field large
              name="number"
              label="Mobile number"
              class="mt-5"
              required
            ></v-text-field>
            <v-text-field large
              label="Password"
              type="password"
              name="password"
              required
            ></v-text-field>

            <a v-on:click="login">
              <v-btn primary dark v-on:click="login">Login</v-btn>
            </a>
            <a href="/register">
              <v-btn primary dark >Register</v-btn>
            </a>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  import axios from 'axios'
  import crypto from 'crypto'
  const shasum = crypto.createHash('sha1')
  export default {
    name: 'Login',
    methods: {
      login: function () {
        const number = document.querySelector('input[name=number]').value
        let password = document.querySelector('input[name=password]').value
        shasum.update(number + password)
        axios.post('https://api-internal.tmn-dev.com/hackathon/v1/wallet/sign-in', {
          username: number,
          password: shasum.digest('hex')
        })
          .then(response => {
            const data = response.data['data']
            localStorage.setItem('access_token', data.access_token)
            window.location.href = '/wallet'
          })
      }
    }
  }
</script>
