<template>
  <div id="app" style="margin-top:0px ">
    <v-app>
      <v-tabs dark >
        <v-card-media
          :src="banner"
          height="200px"
        >
        </v-card-media>
        <v-tabs-bar slot="activators" class="amber darken-3" light>

        <v-tabs-item><img src="https://wallet.truemoney.com/assets/images/wallet/logo-m.png" height="40px" alt=""></v-tabs-item>
        <v-tabs-item ripple exact to="/"><div style="color: white"><strong>Home</strong></div></v-tabs-item>
          <v-tabs-item ripple exact v-on:click="redirect"><div style="color: white"><strong>Trading</strong></div></v-tabs-item>
          <v-tabs-item ripple exact to="/wallet"><div style="color: white"><strong>Wallet</strong></div></v-tabs-item>
        <v-spacer></v-spacer>
        <v-tabs-item v-if="this.message=='Login'" ripple exact to="/login"><div style="color: white"><strong>Login</strong></div></v-tabs-item>
        <v-tabs-item v-if="this.message=='Logout'" ripple exact to="/logout"><div style="color: white"><strong>Logout</strong></div></v-tabs-item>
        <v-tabs-slider class="white"></v-tabs-slider>
      </v-tabs-bar>
    </v-tabs>


      <v-container fluid grid-list-md class="amber darken-4">

        <v-layout >
          <v-flex xs10 offset-xs1 style="color:white">1 BTC
            <div v-for="(value, key) in datacoin" style="display:inline;" align="left">
              <v-flex v-if="key == 'USD' || key == 'THB'" style="display:inline;color: #ffffff;">
                | {{value.last}} {{value.symbol}} {{dataa}}
              </v-flex>
            </div>
          </v-flex>
        </v-layout>


      </v-container>
    <v-slide-x-transition>
      <router-view></router-view>
    </v-slide-x-transition>
    <br><br>
    <v-container fluid grid-list-md class="amber darken-4">

      <v-layout >
        <v-flex xs10 offset-xs1 style="color:white">1 BTC
          <div v-for="(value, key) in datacoin" style="display:inline;" align="left">
            <v-flex v-if="key == 'USD' || key == 'THB'" style="display:inline;color: #ffffff;">
              | {{value.last}} {{value.symbol}} {{dataa}}
            </v-flex>
          </div>
        </v-flex>
      </v-layout>


    </v-container>
      </v-app>
  </div>

</template>

<script>
  import axios from 'axios'
  export default {
    name: 'app',
    created () {
//      console.log(shasum.update(JSON.stringify('0830766707welcome1')).digest('hex'))
      axios.get('https://blockchain.info/ticker?cors=true')
        .then(response => {
          console.log(response.data)
          this.datacoin = response.data
        })
    },
    mounted () {
      axios.get('https://api-internal.tmn-dev.com/hackathon/v1/wallet/user/profile?device_os=ios&app_version=2.0', {headers: {'access-token': localStorage.getItem('access_token')}})
        .then(response => {
          if (response.data['data']) {
            this.message = 'Logout'
          } else {
            this.message = 'Login'
          }
        })
    },
    methods: {
      redirect: function () {
        window.location.href = '/trading'
      }
    },
    data () {
      return {
        banner: 'http://www.financemagnates.com/wp-content/uploads/2017/01/bitcoin-pyramid.jpg?x36887',
        message: 'Login',
        datacoin: ''
      }
    }
  }
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
