<template>
  <div class="home">
    <news></news>
  </div>
</template>

<script>
  import News from './News.vue'
  export default {
    name: 'Home',
    components: {
      'news': News
    },
    data () {
      return {
        msg: 'Home'
      }
    }
  }
</script>

