<template>
  <div class="news">
    <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="http://example.org/rss" />
    <v-layout column>
<!--      <v-container fluid grid-list-md class="amber darken-4">
      </v-container>-->
<!--      <iframe src="http://www.mujames.com/Kong/angular"></iframe>-->
      <v-flex xs12 md10 offset-md1 offset-xs0>
        <v-container fluid grid-list-md class="grey lighten-3">
          <v-layout row wrap>
            <v-flex
              xs12 md10
            >
              <v-card>
                <v-card-media
                  :src="scc"
                  height="300px"
                >
                  <v-container fill-height fluid>
                    <v-layout fill-height>
                      <v-flex xs12 align-end flexbox>
                        <span class="headline white--text">aaaaaa</span>
                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-card-media>
              </v-card>
            </v-flex>
            <v-flex  id="iframe-login" xs12 md2>
              <div class="iframe-container amber lighten-4" style="height:300px">">
                <br>
                <img src="https://wallet.truemoney.com/assets/images/graphic-login.png" height="140px">
                <p>Wallet by truemoney</p>
                <p>คือกระเป๋าเงินออนไลน์</p>
                <p><a href="http://www.truemoney.com/wallet/" target="_blank">เรียนรู้เพิ่มเติม</a></p>
              </div>
            </v-flex >
          </v-layout>
          <v-layout row wrap>
            <v-flex
              v-bind="{ [`xs${card.flex}`]: true }"
              v-for="card in cards"
              :key="card.title"
            >
              <v-card>
                <v-card-media
                  :src="card.src"
                  height="300px"
                >
                  <v-container fill-height fluid>
                    <v-layout fill-height>
                      <v-flex xs12 align-end flexbox>
                        <span class="headline white--text" v-text="card.title"></span>
                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-card-media>
              </v-card>
            </v-flex>
          </v-layout>
        </v-container>
      </v-flex>
      <br>
      <v-layout row wrap>
        <v-flex xs12 md10 offset-md1 offset-xs0>
          <v-layout row wrap>
            <v-flex xs12 md6>
              <iframe src="http://www.mujames.com/tw.html" width="100%" HEIGHT="600PX"></iframe>
            </v-flex>
            <v-flex xs12 md6>
              <iframe src="http://www.mujames.com/uu.html" width="100%" HEIGHT="600PX"></iframe>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
      <br>
      <v-flex xs12 class=" amber darken-4">
        <v-container>
          <v-layout>
            <v-flex md8 offset-md2  xs10 offset-xs1>
              <v-carousel icon="stop">
                  <v-carousel-item v-for="(item,i) in items" v-bind:src="item.src" :key="i"></v-carousel-item>
              </v-carousel>
            </v-flex>
          </v-layout>
        </v-container>
        </v-flex>
    </v-layout>
    <br>


  </div>

</template>

<script>
  export default {
    name: 'News',
    data () {
      return {
        msg: 'News',
        scc: 'https://news.bitcoin.com/wp-content/uploads/2017/08/Breadwallet-Moves-to-Switzerland-and-Acquires-7-Million-in-Investment-Funding-1068x801.jpg',
        cards: [
//          { title: 'Pre-fab homes', src: 'https://news.bitcoin.com/wp-content/uploads/2017/08/Breadwallet-Moves-to-Switzerland-and-Acquires-7-Million-in-Investment-Funding-1068x801.jpg', flex: 10 },
          { title: 'Favorite road trips', src: 'https://news.bitcoin.com/wp-content/uploads/2017/08/Italian-Authority-Fines-Onecoin-Promoters-2-1068x1068.png', flex: 6 },
          { title: 'Bithumb Opens Walk-In Customer Service Center Following Unprecedented Growth', src: 'https://news.bitcoin.com/wp-content/uploads/2017/08/bithumb-customer-service-center-1068x1068.png', flex: 6 }
        ],
        items: [
          {
            src: 'http://tech.mthai.com/app/uploads/2016/12/TrueMoney-Wallet.jpg'
          },
          {
            src: 'https://images.iphonemod.net/wp-content/uploads/2016/07/Wallet-by-TrueMoney.jpg'
          }
        ]
      }
    }
  }
</script>

